/* line 1, ../scss/index.scss */
html {
  font-size: 62.5%;
}

/* line 4, ../scss/index.scss */
body {
  background-color: #232539;
}

/* line 7, ../scss/index.scss */
.welcome {
  width: 100%;
  padding: 50px;
  text-align: center;
  font-size: 8.5rem;
  color: #fff;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
}
