/* line 5, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
    StyleSheet For Responsive Bootstrap Carousel Effect Ken Burns
    Author: Razboynik
    Author URI: http://filwebs.ru
    Description: Bootstrap Carousel Effect Ken Burns
*/
/* line 7, ../scss/partials/_header.scss */
.kb_control_left, .kb_control_right {
  top: 50%;
  z-index: 2;
  opacity: 0;
  width: 55px;
  height: 55px;
  text-align: center;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out 0.3s;
}

/* line 18, ../scss/partials/_header.scss */
.kb_wrapper:hover .kb_control_left, .kb_wrapper:hover .kb_control_right {
  opacity: 0.8;
}

/* line 22, ../scss/partials/_header.scss */
.kb_icons {
  line-height: 50px;
  font-size: 34px !important;
  font-weight: normal !important;
}

/* line 28, ../scss/partials/_header.scss */
.kb_control_left {
  left: 1% !important;
}

/* line 32, ../scss/partials/_header.scss */
.kb_control_right {
  right: 1% !important;
}

/* line 36, ../scss/partials/_header.scss */
.kb_elastic {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

/* line 42, ../scss/partials/_header.scss */
.kb_elastic .item {
  top: 0;
  z-index: 1;
  opacity: 0;
  width: 100%;
  position: absolute;
  left: 0 !important;
  display: block !important;
  -webkit-transform: scale3d(2, 1, 2);
  transform: scale3d(2, 1, 2);
  -webkit-transition: -webkit-transform .7s ease-in-out 0s,opacity ease-in-out .7s;
  transition: transform 0.7s ease-in-out 0s, opacity ease-in-out 0.7s;
}

/* line 56, ../scss/partials/_header.scss */
.kb_elastic .item:first-child {
  top: auto;
  position: relative;
}

/* line 61, ../scss/partials/_header.scss */
.kb_elastic .item.active {
  opacity: 1;
  z-index: 2;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: -webkit-transform .7s ease-in-out 0s,opacity ease-in-out .7s;
  transition: transform 0.7s ease-in-out 0s, opacity ease-in-out 0.7s;
}

/* line 70, ../scss/partials/_header.scss */
.kb_wrapper {
  overflow: hidden;
  max-height: 650px;
}

/* line 75, ../scss/partials/_header.scss */
.kb_wrapper > .carousel-inner > .item > img, .kb_wrapper > .carousel-inner > .item > a > img {
  margin: auto;
  opacity: .8;
  width: 100% !important;
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  -o-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-animation: immortalkenburns 20000ms linear 0s infinite alternate;
  animation: immortalkenburns 20000ms linear 0s infinite alternate;
}

@-webkit-keyframes immortalkenburns {
  0% {
    -webkit-transform: scale(1);
    -webkit-transition: -webkit-transform 20000ms linear 0s;
  }
  100% {
    -webkit-transform: scale(1.2);
    -webkit-transition: -webkit-transform 20000ms linear 0s;
  }
}
@-moz-keyframes immortalkenburns {
  0% {
    -moz-transform: scale(1);
    -moz-transition: -moz-transform 20000ms linear 0s;
  }
  100% {
    -moz-transform: scale(1.2);
    -moz-transition: -moz-transform 20000ms linear 0s;
  }
}
@-ms-keyframes immortalkenburns {
  0% {
    -ms-transform: scale(1);
    -ms-transition: -ms-transform 20000ms linear 0s;
  }
  100% {
    -ms-transform: scale(1.2);
    -ms-transition: -ms-transform 20000ms linear 0s;
  }
}
@-o-keyframes immortalkenburns {
  0% {
    -o-transform: scale(1);
    -o-transition: -o-transform 20000ms linear 0s;
  }
  100% {
    -o-transform: scale(1.2);
    -o-transition: -o-transform 20000ms linear 0s;
  }
}
@keyframes immortalkenburns {
  0% {
    transform: scale(1);
    transition: transform 20000ms linear 0s;
  }
  100% {
    transform: scale(1.2);
    transition: transform 20000ms linear 0s;
  }
}
/* line 158, ../scss/partials/_header.scss */
.kb_caption {
  left: 10%;
  width: 40%;
  bottom: 60%;
  text-align: left;
}

/* line 165, ../scss/partials/_header.scss */
.kb_caption_right {
  left: 50%;
}

/* line 169, ../scss/partials/_header.scss */
.kb_caption_center {
  float: none;
  margin: auto;
}

/* line 174, ../scss/partials/_header.scss */
.kb_caption h1 {
  font-size: 55px;
  font-weight: 300;
  text-align: center;
  text-shadow: none;
  padding: 5px 0 5px 15px;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

/* line 184, ../scss/partials/_header.scss */
.kb_caption h2 {
  font-size: 30px;
  text-align: center;
  text-shadow: none;
  padding-left: 15px;
  font-weight: normal;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

@media only screen and (max-width: 480px) {
  /* line 196, ../scss/partials/_header.scss */
  .kb_control_left, .kb_control_right {
    border: 0;
  }

  /* line 200, ../scss/partials/_header.scss */
  .kb_icons {
    font-size: 18px !important;
  }

  /* line 204, ../scss/partials/_header.scss */
  .kb_caption {
    left: 0;
    width: 100%;
    bottom: 25%;
    text-align: center;
  }

  /* line 211, ../scss/partials/_header.scss */
  .kb_caption h1 {
    font-size: 25px;
  }

  /* line 215, ../scss/partials/_header.scss */
  .kb_caption h2 {
    font-size: 20px;
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  /* line 223, ../scss/partials/_header.scss */
  .kb_control_left, .kb_control_right {
    border: 0;
  }

  /* line 227, ../scss/partials/_header.scss */
  .kb_caption {
    left: 0;
    width: 100%;
    bottom: 25%;
    text-align: center;
  }
}
@media (min-width: 601px) and (max-width: 767px) {
  /* line 238, ../scss/partials/_header.scss */
  .kb_caption {
    left: 0;
    width: 100%;
    bottom: 25%;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 249, ../scss/partials/_header.scss */
  .kb_caption {
    bottom: 25%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 257, ../scss/partials/_header.scss */
  .kb_caption {
    bottom: 50%;
  }
}
/* line 263, ../scss/partials/_header.scss */
.kb_wrapper {
  background: #000;
}

/* line 267, ../scss/partials/_header.scss */
.kb_control_left, .kb_control_left:hover, .kb_control_left:active, .kb_control_left:focus, .kb_control_right, .kb_control_right:hover, .kb_control_right:active, .kb_control_right:focus {
  color: #000;
  border: 2px solid #fff;
  background: #fff !important;
}

/* line 273, ../scss/partials/_header.scss */
.kb_caption h1 {
  color: #bf392b;
  background: #fff;
}

/* line 278, ../scss/partials/_header.scss */
.kb_caption h2 {
  color: #fff;
}

@media (max-width: 600px) {
  /* line 284, ../scss/partials/_header.scss */
  .kb_control_left, .kb_control_left:hover, .kb_control_left:active, .kb_control_left:focus, .kb_control_right, .kb_control_right:hover, .kb_control_right:active, .kb_control_right:focus {
    border: none !important;
    background: transparent !important;
  }
}
/* line 1, ../scss/partials/_navbar.scss */
section {
  position: relative;
  width: 100%;
}

/* line 5, ../scss/partials/_navbar.scss */
nav {
  width: 100%;
}

/* line 8, ../scss/partials/_navbar.scss */
nav ul li {
  display: inline-block;
  list-style: none;
  width: 140px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  border: 1px dashed rgba(255, 255, 255, 0);
  color: #fff;
  padding: 20px 0 20px 0;
  margin: -1px -2px -1px -1px;
  cursor: pointer;
  transition: all .2s;
  -webkit-transition: all .2s;
}

/* line 22, ../scss/partials/_navbar.scss */
nav ul li:hover {
  background: rgba(0, 68, 19, 0.4);
}

/* line 25, ../scss/partials/_navbar.scss */
nav ul {
  border-bottom: 1px solid #fff;
  position: absolute;
  width: 100%;
  padding: 0;
  z-index: 100;
}

/* line 32, ../scss/partials/_navbar.scss */
nav div {
  position: absolute;
  left: 0;
  background: rgba(0, 68, 19, 0.8);
  width: 140px;
  height: 55px;
  z-index: 99;
}

/* line 40, ../scss/partials/_navbar.scss */
nav a:link {
  text-decoration: none;
  color: #ffffff;
}

/* line 44, ../scss/partials/_navbar.scss */
nav ul li a {
  color: #fff;
}

/* line 47, ../scss/partials/_navbar.scss */
nav ul li a:visited {
  color: #6A9519;
}
