@import "partials/footer";
html{
  font-size: 62.5%;
}
body{
  background-color: rgb(35, 37, 57);
}

.welcome{
  width: 100%;
  padding: 50px;
  text-align: center;
  font-size: 6vw;
  color: #D8B43F;
  font-family:  'Dancing Script', cursive;
  font-weight: bold;
}
.planmdn{
width: 80%;
height: auto;
margin-left: auto;
margin-right: auto;
display: block;
}
.plan{
  justify-content: center;
}
.plandl{
  margin-top: 25px auto;
  font-size: 3rem;
  display: block;
  text-align: center;
  color: #D8B43F;
}
.captionplan{
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
  color: gold;
}
