section{
  position:relative;
  width:100%;
}
.onglet a {
  color:#6A9519;
}
nav {
	width:100%;
	ul {
		text-align: center;
    font-size: 1.6rem;
    border-bottom: 1px solid #fff;
    position:absolute;
    width:100%;
    padding:0;
    z-index:100;
	  li {
      display:inline-block;
      list-style:none;
      width:125px;
      text-align:center;
      font-family:'Montserrat', sans-serif;
      border: 1px dashed rgba(255,255,255, 0);
      padding:20px 0 20px 0;
      margin:-1px -2px -1px -1px;
      cursor:pointer;
      transition:all .2s;
      -webkit-transition:all .2s;
			&:hover {
				background:rgba(0,68,19,.8);
				a {
          text-decoration:none;
          color:#ffffff;
				}
			}
		}
  }
}

ul .button-dropdown {
    position: relative;
}

ul li a {
    display: block;
    color: #333;
    background-color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

ul li a span {
    display: inline-block;
    margin-left: 5px;
    font-size: 10px;
    color: #999;
}

ul li a:hover, ul li a.dropdown-toggle.active {
    background-color: #289dcc;
    color: #fff;
}

ul li a:hover span, .nav li a.dropdown-toggle.active span {
    color: #fff;
}

ul li .dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;
    margin-top: 3px;
    text-align: left;
}

ul li .dropdown-menu.active {
    display: block;
}

ul li .dropdown-menu a {
    width: 150px;
}
